<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les Poissons de mer</title>

    <!-- Style perso -->
    <link href="/css/style_perso.css" rel="stylesheet">

    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <!-- smily -->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!--bootstrap de base: aura besoins de javascript et jquery(fonction qui permet de rentre visible)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<contenu>
    <div class="bg">

        <div class="row">
            <div class="col-md-12 ">
                <img class="" src=/img/poisson1.jpg" alt="image" style="width: 100%; height: 600px; margin-bottom: 80px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte Il n'a.
                popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
            </div>
            <div class="col-md-4">
                popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte Il n'a.
            </div>
            <div class="col-md-4">
                est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte Il n'a.
                popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-success" style="background-color: #000000 !important; color: #ffffff !important; margin-top: 50px; text-align: center !important; text-align: center !important; background-position: center !important; ">
            <h5><marquee > LES differents poissons <i class="em em-pig"></i></marquee></h5>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="photo\cochon1.jpg" >
                    <div class="row text-center prd" id="accueil" style="background-image: url(img/poisson1.jpg);width: 110%;">
                        <div class="banner" >Aquatique
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="photo\cochon1.jpg" >
                    <div class="row text-center prd" id="accueil" style="background-image: url(img/poisson2.jpg);width: 110%;">
                        <div class="banner" >Tornade
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="photo\cochon1.jpg" >
                    <div class="row text-center prd" id="accueil" style="background-image: url(img/poisson3.jpg);width: 110%;">
                        <div class="banner" >Tentacules
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</contenu>





</body>
</html>